{% extends "base_template.html" %}

{% block content %}

<br>
<p class="display-1">Add a location</p> 
<br>
<p class="display-5">Use the description field to include and cite important books located in this travel destination. </p>
<p class="display-5">Please include a brief overview of this location that is both accurate and descriptive. </p>
<p class="display-5">Please avoid spoilers.</p>  
<br><br>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
