{% extends "base_template.html" %}
{% load staticfiles %}

{% block content %}
<br>
<hr>
<p class="display-1 text-center"><strong>Ready to Contribute?</strong></p> 
<br>
<div class="row align-items-center"> <!-- three box row -->
    <div class="col-xs-4">
        <div class="text-center">
            <img class="img-rounded index-img" src="{% static "glasgow.jpg" %}" alt="Glasgow">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <img class="img-rounded index-img" src="{% static "edinburgh.jpg" %}" alt="Edinburgh">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <img class="img-rounded index-img" src="{% static "cornwall.jpg" %}" alt="Cornwall">
        </div>
    </div>
</div>
<hr>
<br>

<p class="text-center strong"> Need examples? Click <a href="catalog/books">here</a> to explore locations added by other users.</p> 
<br><br>





<br>
<p class="display-1">Add a location</p> 
<br>
<p class="display-5">Use the description field to include and cite important books located in this travel destination. </p>
<p class="display-5">Please include a brief overview of this location that is both accurate and descriptive. </p>
<p class="display-5">Please avoid spoilers.</p>  
<br><br>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
